.column {
	background: lightsteelblue;
	height: 90vh;
	margin-left: 10px;
}

.box {
	background: lightgrey;
	margin: 10px;
	font-size: 20px;
	padding-left: 10px;
}

.descrip {
	font-size: 14px;
	padding-left: 10px;
	color: dimgray;
}
