body {
	background: lightgrey;
}

.navigation {
	height 10vh;
	width: 100vw;
}

.flex-container {
	padding: 0;
	margin: 0;
	width: 100vw;
	list-style: none;
	background: lightsteelblue;
	padding: 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-col {
	background: lightgrey;
	height: 75vh;
	width: 17vw;
	margin-top: 10px;
	line-height: 50px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.flex-box {
	display: flex;
	flex: flow;
	background: white;
	width: 15vw;
	margin: 1vw;
	align-content: flex-start;
}

.title {
	color: black;
	font-size: .6em;
}

.description {
	color: grey;
	font-size: .5em;
}

.menu {
	display: flex;
	background: lightgrey;
	width: 100vw;
	padding: 10px;
}

.description-input {
	font-size: 14px;
	padding-left: 10px;
	color: dimgray;
}

.add {
	margin-top: 10px;
	padding: 10px;
	background: lightgrey;
}

input-area {
	width: 100vw;
	padding-left: 100px;
}

.description-input {
	width: 30vw;
}

.btn-primary {
	background: lightsteelblue;
}
